$offwhite: #f6f6f6;
$offblack: #313131;
$feintblack: #515151;

body {
    background: $offwhite;
    color: $offblack;
    font-family: "FreightSans", Helvetica, Arial, serif;
    line-height: 1.4;
}

.wrap {
    width: 87.5%;
    max-width: 800px;
    margin: 0 auto;
}

header {
    background: url(../images/header_bg.png);
    background-size: cover;
    background-position: center center;
    padding: 140px 0 40px;
    color: $offwhite;
}

.logo {
    font-weight: 700;
    font-size: 32px;
}

header ul {
    list-style: none;
    max-width: 280px;
    margin-top: 60px;
}

header ul li {
    float: left;
    margin-right: 5.57477% /* Dat spacing tho */
}

header ul li:last-child {
    margin-right: 0;
}

.icon_twitter path { fill: #1DB0ED; }
.icon_dribbble path { fill: #EA4C89; }
.icon_github path { fill: $offwhite; }
.icon_twitch path { fill: #6441A4; }
.icon_steam path { fill: $offwhite; }
.icon_xbox path { fill: #107C11; }

article {
    padding: 80px 0;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, .10);
}

article:first-of-type {
    border-top: none;
}

article:last-of-type {
    border-bottom: none;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}

.post_meta, .post_tags {
    color: $feintblack;
    font-size: 14px;
}

.post_meta {
    margin-bottom: 20px;
}

.post_tags {
    margin-top: 20px;
}

article img {
    max-width: 100%;
    height: auto;
}