<footer>
    <div class="wrap group">
        <p>&copy; {{ site.time | date: "%Y" }} — Dave McNally</p>
        <ul>
            <li><a class="icon_twitter" href="http://twitter.com/davemcnally">{% include _icon_twitter.svg %}</a></li>
            <li><a class="icon_dribbble" href="http://dribbble.com/davemcnally">{% include _icon_dribbble.svg %}</a></li>
            <li><a class="icon_github" href="http://github.com/davemcnally">{% include _icon_github.svg %}</a></li>
            <li><a class="icon_twitch" href="http://twitch.tv/masonest">{% include _icon_twitch.svg %}</a></li>
            <li><a class="icon_steam" href="http://steamcommunity.com/id/Masonest">{% include _icon_steam.svg %}</a></li>
            <li><a class="icon_xbox" href="https://account.xbox.com/en-GB/Profile?gamerTag=masonest">{% include _icon_xbox.svg %}</a></li>
        </ul>
    </div><!-- //wrap group -->
</footer>

{% include _gauges.html %}