<header>
    <div class="wrap group">
        <a class="logo" href="{{ site.url }}">{{ site.site_name }}</a>
        <p>{{ site.description }}</p>
        <ul>
            <li><a href="http://twitter.com/davemcnally"><img src="images/icon_twitter.svg" /></a></li>
            <li><a href="http://dribbble.com/davemcnally"><img src="images/icon_dribbble.svg" /></a></li>
            <li><a href="http://github.com/davemcnally"><img src="images/icon_github.svg" /></a></li>
            <li><a href="http://twitch.tv/masonest"><img src="images/icon_twitch.svg" /></a></li>
            <li><a href="http://steamcommunity.com/id/Masonest"><img src="images/icon_steam.svg" /></a></li>
            <li><a href="https://account.xbox.com/en-GB/Profile?gamerTag=masonest"><img src="images/icon_xbox.svg" /></a></li>
        </ul>
    </div><!-- //wrap group -->
</header>